body {
  background: rgb(89, 167, 249);
  background: -moz-linear-gradient(
    0deg,
    rgba(89, 167, 249, 1) 0%,
    rgba(229, 207, 78, 1) 11%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(89, 167, 249, 1) 0%,
    rgba(229, 207, 78, 1) 15%
  );
  background: linear-gradient(
    0deg,
    rgba(89, 167, 249, 1) 0%,
    rgba(229, 207, 78, 1) 16%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#59a7f9",endColorstr="#e5cf4e",GradientType=1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 690px;
  margin: 0;
}

.backButton {
  position: absolute;
  appearance: none;
  background-color: transparent;
  border: 0.11em solid #0c49ba;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  height: 50px;
  width: 180px;
  outline: none;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  margin-left: 140px;
  margin-top: 50px;
}

.backButton:disabled {
  pointer-events: none;
}

.backButton:hover {
  color: #fff;
  background-color: rgb(9, 54, 200);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.backButton :active {
  box-shadow: none;
  transform: translateY(0);
}

.absolute-image {
  position: absolute;
  top: 250px; /* Adjust the top position based on your design */
  left: 8%; /* Position the image horizontally at the center */
  transform: translateX(-50%); /* Center the image horizontally */
}

.reg-container {
  width: 380px; /* Set a width for the container */
  height: 630px;
  margin: auto; /* Center the container horizontally */
  padding: 20px; /* Add some padding for better spacing */
  background-color: #f4f4f4; /* Set a background color */
  border-radius: 18px; /* Add rounded corners */
  font-family: scandia-web, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
    "Noto Color Emoji";
  margin-left: 20px;
  margin-top: -670px;
  left: 320px;
  background-color: #fff;
}

.regButton {
  border: none;
  outline: none;
  background-color: #2183e6;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #6fc0f3;
  margin-left: 145px;
  margin-top: 30px;
  width: 100px;
}

.regButton:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #a29bfe;
}

.login-container {
  width: 380px; /* Set a width for the container */
  height: 630px;
  margin: auto; /* Center the container horizontally */
  padding: 20px; /* Add some padding for better spacing */
  background-color: #f4f4f4; /* Set a background color */
  border-radius: 18px; /* Add rounded corners */
  font-family: scandia-web, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
    "Noto Color Emoji";
  margin-left: 20px;
  margin-top: 25px;
  background-color: #fff;
  left: 750px;
}

.loginButton {
  border: none;
  outline: none;
  background-color: #2183e6;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #6fc0f3;
  margin-left: 145px;
  margin-top: 30px;
  width: 100px;
}

.loginButton:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #a29bfe;
}

form {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 700px;
}

p {
  margin-top: 25px;
  font-size: 24px; /* Increase font size for the "Log-in" text */
  text-align: center; /* Center the "Log-in" text */
  margin-bottom: 26px; /* Add margin below the "Log-in" text */
  color: rgb(16, 122, 198);
}

.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 180px;
}

.form__field {
  font-family: inherit;
  width: 250px;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-left: 50px;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
  margin-left: 50px;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.pass__field {
  font-family: inherit;
  width: 250px;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-top: 30px;
  margin-left: 50px;
}

.pass__field::placeholder {
  color: transparent;
}

.pass__field:placeholder-shown ~ .pass__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.pass__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
  margin-top: 135px;
  margin-left: 50px;
}

.pass__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.pass__field:focus ~ .pass__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.pass__field:required,
.pass__field:invalid {
  box-shadow: none;
}

@keyframes square-in-bottom-left {
  from {
    clip-path: inset(0 0 100% 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:square:bottom-left"] {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) square-in-bottom-left both;
}

/*first name*/
.fname__field {
  font-family: inherit;
  width: 250px;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-top: 30px;
  margin-left: 50px;
}

.fname__field::placeholder {
  color: transparent;
}

.fname__field:placeholder-shown ~ .fname__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.fname__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
  margin-top: 200px;
  margin-left: 50px;
}

.fname__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.fname__field:focus ~ .fname__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.fname__field:required,
.fname__field:invalid {
  box-shadow: none;
}

/*Last name*/
.lname__field {
  font-family: inherit;
  width: 250px;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-top: 30px;
  margin-left: 50px;
}

.lname__field::placeholder {
  color: transparent;
}

.lname__field:placeholder-shown ~ .lname__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.lname__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
  margin-top: 265px;
  margin-left: 50px;
}

.lname__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.lname__field:focus ~ .lname__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.lname__field:required,
.lname__field:invalid {
  box-shadow: none;
}
/*Age*/
.age__field {
  font-family: inherit;
  width: 250px;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-top: 30px;
  margin-left: 50px;
}

.age__field::placeholder {
  color: transparent;
}

.age__field:placeholder-shown ~ .age__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.age__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
  margin-top: 335px;
  margin-left: 50px;
}

.age__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.age__field:focus ~ .age__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.age__field:required,
.age__field:invalid {
  box-shadow: none;
}

/*Address*/
.address__field {
  font-family: inherit;
  width: 250px;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: #000000;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-top: 30px;
  margin-left: 50px;
}

.address__field::placeholder {
  color: transparent;
}

.address__field:placeholder-shown ~ .address__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.address__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
  margin-top: 405px;
  margin-left: 50px;
}

.address__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.address__field:focus ~ .address__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.address__field:required,
.address__field:invalid {
  box-shadow: none;
}

/*user*/
.user__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 180px;
}

.user__field {
  font-family: inherit;
  width: 250px;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: #000000;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-left: 50px;
  margin-top: 30px;
}

.user__field::placeholder {
  color: transparent;
}

.user__field:placeholder-shown ~ .user__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.user__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
  margin-left: 50px;
  margin-top: 65px;
}

.user__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.user__field:focus ~ .user__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.user__field:required,
.user__field:invalid {
  box-shadow: none;
}

.form__field1 {
  font-family: inherit;
  width: 250px;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: #020202;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-left: 50px;
}

.form__field1::placeholder {
  color: transparent;
}

.form__field1:placeholder-shown ~ .form__label1 {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label1 {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
  margin-left: 50px;
}

.form__field1:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.form__field1:focus ~ .form__label1 {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.form__field1:required,
.form__field1:invalid {
  box-shadow: none;
}

.pass__field1 {
  font-family: inherit;
  width: 250px;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: #000000;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-top: 30px;
  margin-left: 50px;
}

.pass__field1::placeholder {
  color: transparent;
}

.pass__field1:placeholder-shown ~ .pass__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.pass__label1 {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
  margin-top: 85px;
  margin-left: 50px;
}

.pass__field1:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.pass__field1:focus ~ .pass__label1 {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.pass__field1:required,
.pass__field1:invalid {
  box-shadow: none;
}

.ship {
  position: absolute;
  left: 81%;
  top: 72%;
  width: 280px;
}
